/* Color CSS
-------------------------------------------------- */

/* txt class */
.text-msc {
    color: #9f6f55!important;
}

/* btn class */
.btn-msc {
  color: #fff!important;
  background-color: #3f312b;
  border-color: #3f312b;
}

.btn-msc:hover {
  color: #fff;
  background-color: #281a14;
  border-color: #250d00;
}

.btn-msc:focus, .btn-msc.focus {
  box-shadow: 0 0 0 0.2rem rgba(40 ,26 ,20 ,0.5);
}

.btn-msc.disabled, .btn-msc:disabled {
  color: #fff;
  background-color: #281a14;
  border-color: #250d00;
}

.btn-msc:not(:disabled):not(.disabled):active, .btn-msc:not(:disabled):not(.disabled).active,
.show > .btn-msc.dropdown-toggle {
  color: #fff;
  background-color: #281a14;
  border-color: #250d00;
}

.btn-msc:not(:disabled):not(.disabled):active:focus, .btn-msc:not(:disabled):not(.disabled).active:focus,
.show > .btn-msc.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40 ,26 ,20 ,0.5);
}

/* a */
a:link { color: #9f6f55; }
a:visited { color: #9f6f55; }
a:hover { color: #9f6f55; }
a:active { color: #9f6f55; }

/* scroll */
.scroll {
opacity: 0;
transition: opacity 1s;
}

.active {
opacity: 1 !important;
}